################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/out/build
/build
/out
/target
/CMakeSettings.json
